<!--
  Recuerde conservar los id, no deben ser modificados
  ids = user-list__filter, user-list__table, user-list__table-item-[index], user-list__table-item-[index]-avatar, user-list__table-item-[index]-first_name, user-list__table-item-[index]-email, user-list__table-item-[index]-btn-delete
  Remplazar [index] por el valor ejemplo "user-list__table-item-0"
-->

<table id="user-list__table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4">
        <input [(ngModel)]="searchTerm" name="searchTerm" placeholder="Buscar por nombre">
      </td>
    </tr>
    <tr *ngFor="let user of users | filterUserByName: searchTerm">
      
      <td id="user-list__table-item-[0]-email">{{ user.email }}</td>
      <td id="user-list__table-item-[1]-first_name">{{ user.first_name }} {{user.last_name}}</td>
      <td id="user-list__table-item-[2]-avatar"><img [src]="user.avatar"  alt="User Avatar" height="50"></td>
      <td id="user-list__table-item-[3]-btn-delete">
        <button (click)="deleteUser(user.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>